<div class="mediabox">
    <h3>Pathway matrix</h3>

    <div class="scrollingDiv">
        <table border="1">
            <tr>
                <th></th>
                {% for r_id in S.r_ids %}
                    <th {% if r_id in S.gr_id2r_id2c %} class="{{r_id}} clicable" {% endif %} >
                        {{r_id}}
                    </th>
                    {% if r_id in S.gr_id2r_id2c %}
                        {% for sub_r_id in S.gr_id2r_id2c[r_id].iterkeys() %}
                            <th class="sub_{{r_id}}">
                                {{sub_r_id}}
                            </th>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </tr>
            {% for efm_id in S.efm_ids %}
                {{efm_id2tr[efm_id]}}
            {% endfor %}
        </table>
    </div>

    <script type="text/javascript">
        function collapse(it, main_selector) {
            if (!it.hasClass('secret')) {
                it.addClass('secret');
                it.nextUntil(main_selector).hide(100, function(){
                    $(this).addClass('secret');
                });
            } else {
                it.removeClass('secret');
                it.nextUntil(main_selector).show(100, function(){
                    $(this).removeClass('secret');
                });
            }
        }
        function collapse_col(r_id) {
            var hiding = false;
            $('.' + r_id).each(function(){
                if (!$(this).hasClass('secret_col')) {
                    $(this).addClass('secret_col');
                    hiding = true;
                } else {
                    $(this).removeClass('secret_col');
                }
            });
            $('.sub_' + r_id).each(function(){
                if (hiding) {
                    $(this).addClass('secret_col');
                    $(this).hide(100, function(){});
                } else {
                    $(this).removeClass('secret');
                    $(this).show(100, function(){});
                }
            });
        }
        $(function() {
            $(".subheader").each(function(){
                collapse($(this), 'tr.submain');
            });
            $(".header").each(function(){
                collapse($(this), 'tr.main');
            });
            {% for r_id in S.r_ids %}
                collapse_col("{{r_id}}");
            {% endfor %}
        });
        $('.subheader').click(function(){
            collapse($(this), 'tr.submain');
        });
        $('.header').click(function(){
            collapse($(this), 'tr.main');
        });
        {% for r_id in S.r_ids %}
             $('th.{{r_id}}').click(function(){
                 collapse_col("{{r_id}}");
             });
        {% endfor %}
    </script>
</div>